@charset 'utf-8';

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 0 0 0;
}

.parent.perspective {
  -webkit-transform: perspective(250px) rotateX(30deg);
     -moz-transform: perspective(250px) rotateX(30deg);
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
}

.map {
  position: relative;
  height: 50%;
  width: 100%;
  -moz-transform: translateZ(50px);
  -webkit-transform: translateZ(50px);
}